body
  padding: 10px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF


label
  width 130px
  display inline-block

input[type=text]
  width 200px

#map
  height 400px
  width 600px
  margin 20px
  margin-left 500px

form
  height 380px
  float left
  width 450px
  padding 10px
  background-color #efefef

fieldset.requirements
  border none
  margin none
  padding none

  div
    margin-top 6px

  label
    width 100%

#results-list
  clear both

  ul#results
    padding 0

    li
      list-style none
      border-bottom 1px solid #ccc
      padding 10px