body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
label {
  width: 130px;
  display: inline-block;
}
input[type=text] {
  width: 200px;
}
#mapsearch-map {
  height: 400px;
  width: 600px;
  margin: 20px;
  margin-left: 500px;
}
form {
  height: 380px;
  float: left;
  width: 450px;
  padding: 10px;
  background-color: #efefef;
}
fieldset.requirements {
  border: none;
  margin: none;
  padding: none;
}
fieldset.requirements div {
  margin-top: 6px;
}
fieldset.requirements label {
  width: 100%;
}
#results-list {
  clear: both;
}
#results-list ul#results {
  padding: 0;
}
#results-list ul#results li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
